# Python Basics

## Output

In [9]:
print('Hello World')
print('Hi! Welcome to Python')

Hello World
Hi! Welcome to Python

## Input

In [10]:
input('Enter Something : ')

Enter Something : Hafiz

'Hafiz'

In [11]:
name = input('Enter your Name : ')
print(name, ' Welcome to Python')

Enter your Name : Hafiz
Hafiz  Welcome to Python

## Operations

In [12]:
x = 10
y = 15

print(x + y) # Add
print(x - y) # Subtract
print(x * y) # Multiply
print(x / y) # Division
print(x // y) # Integer Division
print(x ** y) # Raise to Power
print(x % y) # Remainder

25
-5
150
0.6666666666666666
0
1000000000000000
10

## String Functions

In [13]:
len(name) # finding length of string

5

In [14]:
print(name.upper()) # converting string to Upper case

HAFIZ

In [15]:
something = input('Enter Something : ')
print(something.strip()) # Deleting extra spaces from starting of variables

Enter Something :     Hafiz
Hafiz

In [16]:
name = 'Hafiz Mohammad Ahsan'

print(name*3) # printing string number of times

Hafiz Mohammad AhsanHafiz Mohammad AhsanHafiz Mohammad Ahsan

In [17]:
name1 = 'Hafiz '
name2 = 'Mohammad '
name3 = 'Ahsan'
print(name1 + name2 + name3) # Concatenation of Strings

Hafiz Mohammad Ahsan

In [18]:
var1 = input('Enter first number : ')
var2 = input('Enter second number : ')

print(type(var1)) # printing type of variable var1
print(type(var2)) # printing type of variable var2
print(var1 + var2) # Concatenation of Strings

Enter first number : 5
Enter second number : 5
<class 'str'>
<class 'str'>
55

## Changing Data Types

In [19]:
var1 = input('Enter first number : ')
var2 = input('Enter second number : ')

print(type(var1))
print(type(var2))
print(int(var1) + int(var2)) # Changing Data Type from String to Integer
print(type(var1))
print(type(var2))

Enter first number : 5
Enter second number : 5
<class 'str'>
<class 'str'>
10
<class 'str'>
<class 'str'>

In [20]:
# Changing Data Type from String to Integer

var1 = input('Enter first number : ')
var2 = input('Enter second number : ')

print(type(var1))
print(type(var2))

var1 = int(var1)
var2 = int(var2)

print(var1 + var2)

print(type(var1))
print(type(var2))

Enter first number : 5
Enter second number : 5
<class 'str'>
<class 'str'>
10
<class 'int'>
<class 'int'>

In [21]:
x = 1
print(x)
x = 2
print(x)

1
2

In [22]:
# float Data Type

fl = 1.5
print(fl)

1.5

In [23]:
# Boolean Data Type

loop = True
print(loop)

True

## Loops

In [24]:
# For Loop

for number in range(0, 10) :
    print(number)

0
1
2
3
4
5
6
7
8
9

In [25]:
# For Loop with Steps

for number in range(0, 10, 3) :
    print(number)

0
3
6
9

In [26]:
# While Loop

loop = True
while loop:
    something = input('Enter Something : ')
#     print('Python')
    if something == 'stop':
        break
    else:
        print('Python')

Enter Something : Hafiz
Python
Enter Something : stop

## Conditionals

In [27]:
# Conditionals = If, Elif, and Else

height = input("Enter your Height : ")

if height == '1' :
    print('You are 1 metre tall')
elif height == '2' :
    print('You are 2 metre tall')
elif height == '3':
    print('You are 3 metre tall')
else :
    print('You are tall')

Enter your Height : 2
You are 2 metre tall

In [28]:
# Nested Conditions

x = 4
y = 4

if x == 2:
    if y == 3:
        print('x = 2 and y = 3')
    else :
        print('x = 2 and y != 3')
else:
    print('x != 2 and y != 3')

x != 2 and y != 3

In [29]:
# And, Or, Not

x = 3
y = 5
z = 3

if x == y and y == z :
    print('True')
    
if x == y or y == z :
    print('Also True')
    
if not(x > y or y == z) :
    print('False')

False

## Functions

In [30]:
x = 2
y = 3

def add(x, y) :
    return x + y


result = add(x, y)
print(result)

5

In [31]:
def printNum(x=5) :
    print(x)
    
printNum()

5

## Dictionary

In [32]:
code = {
    "name" : "Rafiq",
    "class" : "BSCS",
    "Semester" : 5
}

print(code["name"])
print(code["class"])
print(code["Semester"])

Rafiq
BSCS
5

In [33]:
code["class"]

'BSCS'

In [34]:
print(code["class"])

BSCS

## Lists

In [35]:
fruits = ['mango', 'banana', 'apple', 1, 2, 3, 4, 5]

fruits

['mango', 'banana', 'apple', 1, 2, 3, 4, 5]

In [36]:
# Loop through the Lists

for x in fruits:
    print(x)

mango
banana
apple
1
2
3
4
5

In [37]:
# Changing Data of Lists using Indexes of Lists

fruits[3] = "strawberrys"
fruits

['mango', 'banana', 'apple', 'strawberrys', 2, 3, 4, 5]

In [38]:
# Appending Data into Lists

fruits.append("pears")
fruits

['mango', 'banana', 'apple', 'strawberrys', 2, 3, 4, 5, 'pears']

## Tuples

In [39]:
cars = ('toyota', 'honda', 'ferrari')

cars

('toyota', 'honda', 'ferrari')

In [40]:
cars[1]

'honda'

In [41]:
# Data of Tuples cannot be changed

# cars[1] = 'civic'